
<html>
       <script>
            function Login()
           {
            em=document.getElementById("Email").value;
            pass=document.getElementById("Password").value;
            err=document.getElementById("err");
            
            if(em.length==0 || pass.length==0)
              {
                err.innerHTML="*Please Enter Valid Input "
                err.style.color="Red";
              }
               
            else{err.innerHTML="";}
           }
      </script>
<body style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTz4nx2Jjkeh2ROZp08Eapmsbpoh0g8oekRhcPDGJSy&s');background-repeat:no-repeat;background-size:cover;">
          <center><h3>User Login</h3></center>
          <center><form action="logintask"  >
          {% csrf_token %}
          <table cellpadding="10" cellspacing="10">
          <tr>
              <td >User Name  </td>
              <td><input type="email"  id="Email" name="Email"><br></td>
            
          </tr>
          <tr>     
             <td>Password    </td>
             <td><input type="password"  id="Password" name="Password"><br></td>
          </tr>
          <tr>
              <td><center><input type="submit" value="Login" onclick="Login()"></center></td>
              <td><span input value="text" id="err"></span></td>
          </tr>
          <tr>
              <td><center><a href="Regi">New User</a></center></td>
          </tr>
      
      </table>
      </form></center>
          
</body>

</html>
