{% csrf_token %}
<html>
  <style>
          *{margin:0px;}
          #container{height:100%;background:#FF996}
          #underfoot{height:5%;background:#FEABCD;}
          #mainheader{height:5%;width:100%;background:palegreen;}
          #header{height:100%;width:85%;background:gray;float:right;}
          #back{height:100%;width:15%;background:#F0FFFF;float:left;}
          #body{height:90%;width:100%;background:#00ffff;}
    </style>
 <body>
           <div id="container">
                   <div id="mainheader">
                               
                            <div id="header">
                                   <center><h3>Version</h3></center>
                            </div>
                            <div id="back">
                                 <h6 ><a href='home'> < Back To Home</a></h6>
                            </div>
                            
                            
                  </div>
                  <div id="body">
                            <p>Version 2022.02</p><br>
                            <p>Last updated 15th Oct. 2022.......
                  </div>
                  <div id="underfoot">
                         <center><h3>@copyright2022</h3></center>
                  </div>
         </div>
</body>
</html>
